<section class="header">
    <app-nav-bar></app-nav-bar>
    <app-side-bar></app-side-bar>

<form class="form">
    <!-- <div>
        <label>Your Full Name</label>
        <input class="form-control" type="text" placeholder="Jonas Jonaitis" aria-label="default input example">
        <input class="form-control" type="text" value="Disabled readonly input" aria-label="Disabled input example" disabled readonly>
    </div> -->
    <form class="row g-3">
        <div class="row g-3">
            <div class="col">
                <input class="form-control" type="text" value="Disabled readonly input" aria-label="Disabled input example" disabled readonly>
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Enter quantity of boxes" aria-label="Last name">
            </div>
          </div>
          <div class="row g-3">
            <div class="col">
                <input class="form-control" type="text" value="Disabled readonly input" aria-label="Disabled input example" disabled readonly>
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Enter quantity of boxes" aria-label="Last name">
            </div>
          </div>
          <div class="row g-3">
            <div class="col">
                <input class="form-control" type="text" value="Disabled readonly input" aria-label="Disabled input example" disabled readonly>
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Enter quantity of boxes" aria-label="Last name">
            </div>
          </div>
          <div class="row g-3">
            <div class="col">
                <input class="form-control" type="text" value="Disabled readonly input" aria-label="Disabled input example" disabled readonly>
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Enter quantity of boxes" aria-label="Last name">
            </div>
          </div>
          <div class="row g-3">
            <div class="col">
                <input class="form-control" type="text" value="Disabled readonly input" aria-label="Disabled input example" disabled readonly>
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Enter quantity of boxes" aria-label="Last name">
            </div>
          </div>
          <div class="row g-3">
            <div class="col">
                <input class="form-control" type="text" value="Disabled readonly input" aria-label="Disabled input example" disabled readonly>
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Enter quantity of boxes" aria-label="Last name">
            </div>
          </div>
          <div class="row g-3">
            <div class="col">
                <input class="form-control" type="text" value="Disabled readonly input" aria-label="Disabled input example" disabled readonly>
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Enter quantity of boxes" aria-label="Last name">
            </div>
          </div>
          <div class="row g-3">
            <div class="col">
                <input class="form-control" type="text" value="Disabled readonly input" aria-label="Disabled input example" disabled readonly>
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Enter quantity of boxes" aria-label="Last name">
            </div>
          </div>
      </form>
</form>
</section>