<section class="header">
    <app-nav-bar></app-nav-bar>
    <div class="text-box">
        <input class="form-control" type="text" placeholder="Enter kilimeters" aria-label="default input example">
        <br><br>
        <input class="form-control" type="text" placeholder="Enter diesel" aria-label="default input example">
        <br><br>
        <input class="form-control" type="text" placeholder="Enter adblue" aria-label="default input example">
        <br><br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</section>
